
.headerC{
    width:100%;
    height:70px;
    background-color:aqua;
}

.carro{
    margin-left:100px;
    margin-top:50px;

}
.main{
    width:100%;
    height:400px;
    background-color:bisque ;
}
.parceiros{
    width:100%;
    height: 200px;
    background-color: brown;
}